.div404 {
    /* background: white; */
    position: relative;
    height: 100vh;
    width: 100vw;
}

.div404 img {
    position: absolute;
    top: 20%;
    left: 27%;
    width: 900px;
    height: 600px;
}

.text404 {
    position: absolute;
    left: 35%;
    top: 0%;
    font-size: 5rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px black;
}

.goBack {
    position: absolute;
    left: 45%;
    top: 87%;
    transition: all 0.5s linear;
    outline: none;
    border: none;
    font-size: 2rem;
    color: rgb(98, 119, 235);
    background: -webkit-radial-gradient(#10305810, #0a0011);
    border-radius: 15px;
    box-shadow: 0px 0px 20px 5px rgba(67,87,179,0.67) inset;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(67,87,179,0.67) inset;
    -moz-box-shadow: 0px 0px 20px 5px rgba(67,87,179,0.67) inset;
    padding: 15px 50px;
    cursor: pointer;
    transition: all 0.25s linear;
}

.goBack:hover {
    transform: scale(1.1)
}

.link {
    text-decoration: none;
}
