.allContainer {
    background: red;
}

.searchContainer {
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: -webkit-radial-gradient(#10305810, #0a0011);
    border-radius: 15px;
    box-shadow: 0px 0px 20px 5px rgba(67,87,179,0.67) inset;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(67,87,179,0.67) inset;
    -moz-box-shadow: 0px 0px 20px 5px rgba(67,87,179,0.67) inset;
    font-weight: bold;
}

.ordersContainer {
    width: 25vw;
    height: 89vh;
    float: left;
    animation: orders 1s ease-out;
}

.filtersContainer {
    height: 35vh;
    margin-top: 1rem;
    padding: 1rem 0;
    background: -webkit-radial-gradient(#10305810, #0a0011);
    border-radius: 15px;
    box-shadow: 0px 0px 20px 5px rgba(67,87,179,0.67) inset;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(67,87,179,0.67) inset;
    -moz-box-shadow: 0px 0px 20px 5px rgba(67,87,179,0.67) inset;
}

.continent {
    margin-top: 5px;
}

.filtersContainer select {
    width: 13rem;
    height: 2.2rem;
    text-align: center;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    font-weight: bold;
}

.ordersContainer .input {
    opacity: 0;
    width: 0;
    margin: 0;
}

.ordersContainer .label {
    display: inline-block;
    background-color: #ddd;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
    color: black;
    margin: 0 21px;
    width: 150px;
    cursor: pointer;
    font-weight: bold;
}

.ordersContainer input:checked + .label {
    background-color:rgb(98, 119, 235);
    border-color: rgb(105, 116, 69);
}

.ordersContainer .label:hover {
    background-color: rgb(146, 155, 206);
}

.paginationContainer {
    display: flex;
    justify-content: center;
    width: 69vw;
    float: right;
    margin-right: 2.5vw;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background: -webkit-radial-gradient(#10305810, #0a0011);
    border-radius: 15px;
    box-shadow: 0px 0px 20px 5px rgba(67,87,179,0.67) inset;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(67,87,179,0.67) inset;
    -moz-box-shadow: 0px 0px 20px 5px rgba(67,87,179,0.67) inset;
    animation: pagination 1s ease-out;
}

.paginationContainer button {
    margin: 0 3px;
    cursor: pointer;
}

.countriesContainer {
    float: right;
    width: 70vw;
    height: 85vh;
    margin-right: 2.5vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow-y: auto;
    animation: countriesDiv 1s ease-out;
}

.countriesContainer::-webkit-scrollbar-track, .activityContainer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 30px;
}

.countriesContainer::-webkit-scrollbar, .activityContainer::-webkit-scrollbar {
	width: 10px;
    border-radius: 30px;
	background-color: #F5F5F5;
}

.countriesContainer::-webkit-scrollbar-thumb, .activityContainer::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}

.activityContainer {
    height: 38vh;
    overflow-y: auto;
    display: flex;
    justify-content:flex-start;
    flex-wrap:nowrap;
    margin-top: 1rem;
    background: -webkit-radial-gradient(#10305810, #0a0011);
    border-radius: 15px;
    box-shadow: 0px 0px 20px 5px rgba(67,87,179,0.67) inset;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(67,87,179,0.67) inset;
    -moz-box-shadow: 0px 0px 20px 5px rgba(67,87,179,0.67) inset;
}

.activityContainer .labelAct {
    width: 200px;
    height: 30px;
    text-align: initial;
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: 1.5rem;
}

.checkBox {
    width: 20px;
    height: 20px;
    margin: 0 10px;
    margin-left: 4rem;
    cursor: pointer;
}

.checkBox + label {
    cursor: pointer;
}

.checksContainer {
    display: flex;
    margin-bottom: 10px;
}

.mainText {
    color: rgb(98, 119, 235);
    text-shadow: 1px 1px 2px rgb(105, 116, 69);
    font-weight: bold;
    font-size: 1.2rem;
}

.searchBarDiv input {
    width: 250px;
    padding: 5px 15px;
    border-radius: 15px;
    outline: none;
}

.searchBarDiv {
    position: relative;
}

.searchBarDiv label {
    position: absolute;
    top: 5px;
    left: 7.5rem;
    color: black;
    transition: 0.5s;
    cursor: text;
}

.searchBarDiv input:focus ~ label, .searchBarDiv input:valid ~ label {
    left: 2rem;
    color: white;
    font-weight: bold;
}

@keyframes append-animate {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes pagination {
    from {
        opacity: 0;
        transform: translate3d(0, +30%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

@keyframes countriesDiv {
    from {
        opacity: 0;
        transform: translate3d(+100%, 0, 0)
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

@keyframes orders {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0)
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}