.card h1{
    font-size: 2rem;
    margin: 10px 9px;
    color: rgb(98, 119, 235);
    text-shadow: 1px 1px 2px rgb(105, 116, 69);
}

.card h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.card h3 {
    margin-top: 0;
}

.card img {
    width: 300px;
    border-radius: 15px;
    max-height: 230px;
}

.content {
    color: rgb(173, 170, 170);
}

.link {
    text-decoration: none;
}

.card {
    width: 400px;
    height: 380px;
    margin-bottom: 25px;
    background: -webkit-radial-gradient(#10305810, #0a0011);
    border-radius: 30px;
    box-shadow: 0px 0px 20px 5px rgba(67,87,179,0.67) inset;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(67,87,179,0.67) inset;
    -moz-box-shadow: 0px 0px 20px 5px rgba(67,87,179,0.67) inset;
    padding-top: 3px;
}

.card:hover {
    box-shadow: 0px 0px 30px 10px rgba(67,87,179,0.67) inset;
    -webkit-box-shadow: 0px 0px 30px 10px rgba(67,87,179,0.67) inset;
    -moz-box-shadow: 0px 0px 30px 10px rgba(67,87,179,0.67) inset;
}

@keyframes card {
    from {
        opacity: 0;
        transform: translate3d(+100%, 0, 0)
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}