.card h1{
    font-size: 2rem;
    margin-bottom: 10px;
    color: rgb(98, 119, 235);
    text-shadow: 1px 1px 2px rgb(105, 116, 69);
}

.card h2 {
    /* color: white; */
    margin-top: 0;
    margin-bottom: 0;
}

.card h3 {
    /* color: white; */
    margin-top: 0;
}

.card img {
    width: 300px;
    border-radius: 15px;
}

.content {
    color: rgb(173, 170, 170);
}

.card .link{
    text-decoration: none;
}

.card {
    width: 400px;
    height: 380px;
    margin-bottom: 30px;
    /* background: rgba(255, 255, 255, 0.2); */
    background: -webkit-radial-gradient(#10305810, #0a0011);
    border-radius: 30px;
}