.allContainer {
    background: red;
    animation: append-animate 0.75s ease-in;
}

.searchContainer {
    /* background: rgba(0, 0, 0, 0.3); */
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: -webkit-radial-gradient(#10305810, #0a0011);
    border-radius: 15px;
}

.ordersContainer {
    /* background: yellow; */
    /* margin: auto 0; */
    /* padding: 1rem 0; */
    width: 25vw;
    height: 89vh;
    float: left;
    
}

.filtersContainer {
    /* background: rgba(0, 0, 0, 0.3); */
    /* padding: 1.5rem; */
    /* padding-left: 1.5rem; */
    height: 35vh;
    margin-top: 1rem;
    padding: 1rem 0;
/*     display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    background: -webkit-radial-gradient(#10305810, #0a0011);
    border-radius: 15px;
}

.continent {
    margin-top: 5px;
}

/* .filtersContainer .label {
    width: 150px;
} */

.filtersContainer select {
    width: 13rem;
    height: 2.2rem;
    text-align: center;
    border-radius: 5px;
    font-size: 1rem;
}

.ordersContainer .input {
    opacity: 0;
    width: 0;
    margin: 0;
}

.ordersContainer .label {
    display: inline-block;
    background-color: #ddd;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
    color: black;
    margin: 0 21px;
    width: 150px;
}

.ordersContainer input:checked + .label {
    background-color:rgb(98, 119, 235);
    border-color: rgb(105, 116, 69);
}

.ordersContainer .label:hover {
    background-color: rgb(146, 155, 206);
}

.paginationContainer {
  /*   background: cyan; */
    display: flex;
    justify-content: center;
    width: 70vw;
    float: right;
    margin-right: 2.5vw;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
 /*    position: absolute;
    top: 90vh; */
    /* margin: 0 auto; */
    background: -webkit-radial-gradient(#10305810, #0a0011);
    border-radius: 15px;
}

.paginationContainer button {
    margin: 0 3px;
}

.countriesContainer {
    /* background:blueviolet; */
    float: right;
    width: 70vw;
    height: 85vh;
    margin-right: 2.5vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow-y: auto;
}

.activityContainer {
    /* background: rgb(170,75,237);
    background: linear-gradient(16deg, rgba(170,75,237,0.3) 0%, rgba(148,50,148,0.3) 26%, rgba(20,12,20,0.3) 81%, rgba(20,12,20,0.3) 100%); */
    height: 38vh;
    overflow-y: auto;
    display: flex;
    justify-content:start;
    flex-wrap:nowrap;
    margin-top: 1rem;
    background: -webkit-radial-gradient(#10305810, #0a0011);
    border-radius: 15px;
}

.activityContainer .labelAct {
    width: 200px;
    height: 30px;
/*     color: black; */
    text-align: initial;
}

.checkBox {
    width: 20px;
    height: 20px;
    margin: 0 10px;
    margin-left: 4rem;
}

.checksContainer {
    display: flex;
    background: -webkit-radial-gradient(#10305810, #0a0011);
}

.mainText {
    color: rgb(98, 119, 235);
    text-shadow: 1px 1px 2px rgb(105, 116, 69);
    font-weight: bold;
    font-size: 1.2rem;
}

@keyframes append-animate {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
  }