.detailsMain {
    display: flex;
    margin: 0 auto;
    width: 98vw;
    height: 90vh;
    color: white;
}

.detailsContainer {
    float: left;
    width: 48vw;
    text-align: center;
    margin-left: 100px;
    overflow-y: auto;
    background: -webkit-radial-gradient(#10305810, #0a0011);
    border-radius: 30px;
    scrollbar-color: rgb(73,125,189);
    border-top-right-radius: 0px;
    animation: details 1s ease-out;
}

.detailsContainer::-webkit-scrollbar-track, .activitiesContainer::-webkit-scrollbar-track, .borderContainer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 30px;
}

.detailsContainer::-webkit-scrollbar, .activitiesContainer::-webkit-scrollbar, .borderContainer::-webkit-scrollbar {
	width: 10px;
    border-radius: 30px;
	background-color: #F5F5F5;
}

.detailsContainer::-webkit-scrollbar-thumb, .activitiesContainer::-webkit-scrollbar-thumb, .borderContainer::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}

.activitiesContainer {
    float: right;
    width: 35vw;
    margin-left: 120px;
    overflow-y: auto;
    background: -webkit-radial-gradient(#10305810, #0a0011);
    border-radius: 30px;
    height: 48vh;
    animation: bottom 1s ease-out;
}

.activitiesContainer h3 {
    margin-top: 30%;
    font-size: 1.5rem;
}



.flagsContainer {
    width: 70%;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    background: rgba(98, 119, 235, 0.2);
    height: 220px;
    border-radius: 15px;
    box-shadow: 0px 0px 38px 11px rgba(67,87,179,0.67) inset;
    -webkit-box-shadow: 0px 0px 38px 11px rgba(67,87,179,0.67) inset;
    -moz-box-shadow: 0px 0px 38px 11px rgba(67,87,179,0.67) inset;
}

.flagsContainer .coat {
    width: 200px;
}

.flagsContainer img {
    max-width: 300px;
    max-height: 200px;
    border-radius: 15px;
}

.fixedA {
    position: fixed;
    background: #2D2F69;
    width: 35vw;
    margin-top: 0;
    border-top-left-radius: 30px;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.6);
    color: rgb(98, 119, 235);
}

.borderContainer .fixedA {
    margin-top: 0;
    margin-left: 0;
}

.fixedD {
    position: fixed;
    width: 47.5vw;
    background: #2D2F69;
    margin-top: 0;
    border-top-left-radius: 30px;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.6);
    color: rgb(98, 119, 235);
    padding-right: 10px;
}

.nameCountry {
    margin: 0 auto;
    margin-top: 3.5rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgb(189, 181, 181);
    width: 50%;
    padding-bottom: 10px;
    color: rgb(189, 181, 181);
}

.infoContainer, .activitiesDiv {
    margin: 0 auto;
    margin-top: 3rem;
    padding: 10px 0 10px 0;
    width: 70%;
    background: red;
    border-radius: 15px;
    background: rgba(98, 119, 235, 0.2);
    box-shadow: 0px 0px 38px 11px rgba(67,87,179,0.67) inset;
    -webkit-box-shadow: 0px 0px 38px 11px rgba(67,87,179,0.67) inset;
    -moz-box-shadow: 0px 0px 38px 11px rgba(67,87,179,0.67) inset;
    text-shadow: 2px 2px 2px black;
}

.activitiesDiv {
    margin-bottom: 2rem;
    margin-top: 15px;
}

.infoContainer {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.infoDivs {
    display: flex;
    justify-content: left;
    text-align: center;
    align-items: baseline;
    margin: 20px auto;
    width: 70%;
}

.infoDivs h2 {
    margin: 0;
    margin-right: 1rem;
}

.infoDivs .theContent {
    font-size: 1.3rem;
    font-family: 'Comfortaa';
    margin-right: 0;
    color: rgb(189, 181, 181);
}

.timezoneDiv {
    align-items: start;
}

.timezone {
    line-height: 30px;
    word-spacing: 10px;
}

.borderContainer {
    margin: 0 auto;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
    width: 35vw;
    height: 35vh;
    overflow-y: auto;
    overflow-x: hidden;
    float: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: -webkit-radial-gradient(#10305810, #0a0011);
    border-radius: 30px;
    animation: top 1s ease-out;
    position: relative;
}

#borders {
    position: relative;
    height: 2rem;
    margin: 20px 300px;
}

.borderContainer .links {
    text-decoration: none;
    color: rgb(173, 170, 170);
}

.borderContainer img {
    height: 50px;
    width: 100px;
    border-radius: 10px;
    box-shadow: 15px 10px 16px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 15px 10px 16px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 15px 10px 16px -5px rgba(0,0,0,0.75);
}

.singleBorderDiv {
    height: 100px;
    width: 200px;
    margin: 2px;
}

.border {
    margin: 0;
}

.borderAct {
    width: 35vw;
    margin-left: 100px;
}

.space {
    margin-bottom: 35px;
    width: 100%;
}

.activitiesContainer .space {
    margin-bottom: 4rem;
    width: 100%
}

@keyframes details {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0)
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes top {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bottom {
    from {
        opacity: 0;
        transform: translate3d(0, +100%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@media (max-width: 1980px){

}

@media (max-width: 1440px){
    .detailsContainer {
        margin-left: 3rem;
    }
    .flagsContainer img {
        max-width: 250px;
    }
    .flagsContainer, .infoContainer {
        margin-left: 2rem;
        margin-right: 2rem;
        margin: 30px auto;
        width: 600px;
    }
    .borderContainer .fixedA {
        left: 59.3%;
    }
}