.parent {
    /* background: gray; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    margin: 5rem 10rem;
    height: 75vh;
}
.div1 { 
    grid-area: 1 / 1 / 3 / 2;
    /* background: yellow; */
    /* height: 15rem; */
    background: -webkit-radial-gradient(#10305810, #0a0011);
    box-shadow: 0px 0px 20px 5px rgba(67,87,179,0.67) inset;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(67,87,179,0.67) inset;
    -moz-box-shadow: 0px 0px 20px 5px rgba(67,87,179,0.67) inset;
    border-radius: 25px;
    animation: leftDivs 1s ease-out;
}
.div2 { 
    grid-area: 1 / 2 / 2 / 3;
    background: -webkit-radial-gradient(#10305810, #0a0011);
    box-shadow: 0px 0px 20px 5px rgba(67,87,179,0.67) inset;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(67,87,179,0.67) inset;
    -moz-box-shadow: 0px 0px 20px 5px rgba(67,87,179,0.67) inset;
    border-radius: 25px;
    animation: rightDivs 1s ease-out;
}
.div3 { 
    grid-area: 3 / 1 / 5 / 2; 
    background: -webkit-radial-gradient(#10305810, #0a0011);
    box-shadow: 0px 0px 20px 5px rgba(67,87,179,0.67) inset;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(67,87,179,0.67) inset;
    -moz-box-shadow: 0px 0px 20px 5px rgba(67,87,179,0.67) inset;
    border-radius: 25px;
    animation: leftDivs 1s ease-out;
}
.div4 { 
    grid-area: 2 / 2 / 5 / 3;
    background: -webkit-radial-gradient(#10305810, #0a0011);
    box-shadow: 0px 0px 20px 5px rgba(67,87,179,0.67) inset;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(67,87,179,0.67) inset;
    -moz-box-shadow: 0px 0px 20px 5px rgba(67,87,179,0.67) inset;
    border-radius: 25px;
    animation: rightDivs 1s ease-out;
}

.nameForm {
    /* background: red; */
    height: 50%;
    box-sizing: border-box;
    padding: 0 10rem;
    position: relative;
}

.nameForm label {
    position: absolute;
    top: 6.1rem;
    left: 11rem;
    color: black;
    pointer-events: none;
    transition: 0.5s;
    font-size: 1.2rem;
}

.durationForm label {
    position: absolute;
    top: 3.2rem;
    left: 11rem;
    color: black;
    pointer-events: none;
    transition: 0.5s;
    font-size: 1.2rem;

}

.nameForm input:focus ~ label, .nameForm input:valid ~ label{
    top: 55px;
    font-weight: bold;
    font-size: 1.5rem;
    left: 180px;
    text-shadow: 1px 1px 2px rgb(105, 116, 69);
    color: rgb(98, 119, 235);
    text-shadow: 1px 1px 3px black;
}

.durationForm input:focus ~ label, .durationForm input:valid ~ label{
    top: 5px;
    font-weight: bold;
    font-size: 1.5rem;
    left: 180px;
    text-shadow: 1px 1px 2px rgb(105, 116, 69);
    color: rgb(98, 119, 235);
}

.nameForm input, .durationForm input {
    margin-top: 4.1rem;
    padding: 10px 10px;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    box-sizing: border-box;
    box-shadow: none;
    font-size: 1.2rem;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.74) inset;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.74) inset;
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.74) inset;
    background: lightgray;
}

.durationForm input {
    margin-top: 2.5rem;
}

.nameForm input {
    margin-top: 5.5rem;
}

.durationForm {
    /* background: green; */
    height: 50%;
    box-sizing: border-box;
    padding: 0 10rem;
    position: relative;
}


.difficultyForm {
    /* background: blue; */
    height: 100%;
    float: left;
    width: 50%;
}

.difficultyForm select {
    margin-top: 5rem;
}

.div3 input {
    width: 20px;
    height: 20px;
}

.div3 label {
    font-size: 1.3rem;
    /* margin-left: 10px; */
}

.div3 h2 {
    text-shadow: 1px 1px 2px rgb(105, 116, 69);
    color: rgb(98, 119, 235);
}

.div3 .inputContainer {
    display: flex;
    text-align: center;
    height: 30px;
    margin-left: 5rem;
    margin-top: 1rem;
    width: 50%;
    /* flex-wrap: wrap; */
}

.seasonForm {
    /* background:chocolate; */
    height: 100%;
    float: right;
    width: 50%;
}

.seasonForm select {
    margin-top: 5rem;
}

.countryForm {
    /* background:darkorchid; */
    height: 100%;
}

.countryForm select {
    margin-top: 4rem;
    font-size: 1.3rem;
    border-radius: 15px;
    padding: 5px 0 5px 20px;
    outline: none;
    background: lightgray;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.74) inset;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.74) inset;
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.74) inset;
    transition: all 0.5s;
}

.countryForm option {
    padding: 100px 0;
}

.selectedForm {
    /* background:lightpink; */
    height: 80%;
    padding-left: 3rem;
}

.selectedForm h3 {
    padding-top: 15px;
    margin: 0;
    margin-right: 4rem;
    text-shadow: 1px 1px 2px rgb(105, 116, 69);
    color: rgb(98, 119, 235);
}

.submitForm {
    /* background: yellow; */
    height: 20%;
}

.submitForm button {
    margin-top: 1.5rem;
    width: 200px;
    height: 50px;
    border: none;
    /* background: -webkit-radial-gradient(#10305810, #0a0011); */
    font-size: 1.3rem;
    font-weight: bold;
    box-shadow: 0px 0px 72px 0px rgba(0,0,0,0.74) inset;
    -webkit-box-shadow: 0px 0px 72px 0px rgba(0,0,0,0.74) inset;
    -moz-box-shadow: 0px 0px 72px 0px rgba(0,0,0,0.74) inset;
    cursor: pointer;
}

.selectedDiv {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    height: 90%;
    width: 100%;
}

.selectedCard {
    background: rgba(98, 119, 235, 0.2);
    box-shadow: 0px 0px 38px 11px rgba(67,87,179,0.67) inset;
    -webkit-box-shadow: 0px 0px 38px 11px rgba(67,87,179,0.67) inset;
    -moz-box-shadow: 0px 0px 38px 11px rgba(67,87,179,0.67) inset;
    width: 10rem;
    height: 10rem;
    position: relative;
    margin: 10px 5px;
    border-radius: 10px;
    animation: selectedCard 1s linear;
}

.selectedCard p {
    font-size: 1.1rem;
    font-weight: bold;
    text-shadow: 1px 1px 3px black;
}

.selectedCard button {
    position: absolute;
    top: 130px;
    left: 70px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    /* background: red; */
}

.selectedCard img {
    width: 5rem;
    border-radius: 15px;
}

@keyframes selectedCard {
    from {
        opacity: 0;
        scale: 0;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes rightDivs {
    from {
        opacity: 0;
        transform: translate3d(+100%, 0, 0)
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}
@keyframes leftDivs {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0)
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}



