.landing {
    margin: 0;
}

.landing h1 {
    animation: fadeIn 2s ease-out;
    position: absolute;
    top: 20%;
    left: 31%;
    font-size: 8rem;
    font-family: 'Indie Flower';
    background: rgb(255,255,255);
    background: linear-gradient(70deg, rgba(255,255,255,1) 0%, rgba(213,208,213,1) 5%, rgba(103,113,184,1) 43%, rgba(36,42,201,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Yatra One';
}

#landingApp {
    top: 35%;
    left: 44%;
}

.neonWrapper {
    filter: brightness(300%);
    position: absolute;
    top: 80%;
    left: 42.5%;
    display: inline-flex;
    overflow: hidden;
    width: 288.8px;
    height: 115px;
    animation: fadeInStart 2s ease-out;
}

.landing p {
    margin: 0;
    position: absolute;
/*     top: 80%;
    left: 42.5%; */
    font-size: 6rem;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Balsamiq Sans';
    color: white;
    background: black;
    /* background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fadeInStart 2s ease-out; */
}

.landing p::before {
    content: "START";
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(3px);
}

.span {
    /* background: linear-gradient(113.5001723098901deg, rgba(6, 227, 250,1) 5.736111111111111%,rgba(229, 151, 64,1) 96.29166666666666%);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(213,208,213,1) 15%, rgba(134,140,181,1) 57%, rgba(134,137,222,1) 100%); */
    background: linear-gradient(70deg, rgba(255,255,255,1) 0%, rgba(213,208,213,1) 5%, rgba(103,113,184,1) 43%, rgba(36,42,201,1) 100%);
    position: absolute;
    width: 288.8px;
    height: 115px;
    top: 0;
    left: 0;
    mix-blend-mode: multiply;
}

.dodge {
    background: radial-gradient(circle, white, black 35%) center / 25% 25%;
    position: absolute;
    top: -100%;
    left: -100%;
    right: 0;
    bottom: 0; 
    mix-blend-mode: color-dodge;
    animation: dodge-area 3s linear infinite;
}

.aboutNav {
    display: flex;
    justify-content: flex-end;
}

.about {
    margin-right: 3rem;
    margin-top: 1rem;
    font-size: 2.5rem;
    background: rgb(255,255,255);
    background: linear-gradient(70deg, rgba(255,255,255,1) 0%, rgba(213,208,213,1) 5%, rgba(103,113,184,1) 43%, rgba(36,42,201,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Yatra One';
}


@keyframes dodge-area {
    to {
        transform: translate(50%, 50%);
    }
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -300%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeInStart {
    from {
        opacity: 0;
        transform: translate3d(-200%, 0, 0)
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

@keyframes start {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}