.navBar {
    /* background-color: white; */
    display: flex;
    justify-content: space-between;
    padding-left: 6rem;
    padding-right: 6rem;
    margin-bottom: 1rem;
    /* background-color: red; */
    /* background-color: rgba(255, 255, 255, 0.2) */
    background: -webkit-radial-gradient(#10305810, #0a0011);
    box-shadow: 0px 0px 20px 5px rgba(67,87,179,0.67) inset;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(67,87,179,0.67) inset;
    -moz-box-shadow: 0px 0px 20px 5px rgba(67,87,179,0.67) inset;
    animation: navBar 0.5s ease-out;
}

.navCountries {
    margin-left: 7rem;
}

.navLinks {
    text-decoration: none;
    /* color: white; */
    font-size: 1.3rem;
    font-weight: bold;
    /* text-shadow: 1px 1px 3px black; */
    text-shadow: 1px 1px 2px rgb(105, 116, 69);
    color: rgb(98, 119, 235);
}

@keyframes navBar {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0)
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}
